.mirror-active .toMirror,
.toNormal{
  display:none;
}
.mirror-active .toNormal {
  display:unset;
}

#inputvideo, canvas {
  display:none;
}

.pip,
.mirrorChange,
.cropping-ui,
.video-active .capture {
  display: none;
}

.video-active .pip,
.video-active .mirrorChange,
.video-active .cropping-ui {
  display: unset;
}

.pip-active button.pip {
  display: none;
}

.cropping-ui {
  width: 80%;
  margin: auto;
}

input[type='range']{
  display:none;
  width: 36em;
  max-width: 80vw;
}
crop--slider{
  display: none;
}
input[type='range'].active{
  display:unset;
}
crop--slider{
  display: unset;
}

/*temporary as it does not work without flip

button.button--size{
display:none;
}
.mirror-active button.button--size{
display:unset;
}
*/
