.mirror-active .toMirror,
.toNormal{
  display:none;
}
.mirror-active .toNormal {
  display:unset;
}

#inputvideo, canvas {
  display:none;
}
.video-active button.capture,
button.pip, button.mirrorChange {
  display:none;
}

.video-active button.pip,
.video-active button.mirrorChange {
  display:unset;
}

.pip-active button.pip {
  display:none;
}

input[type='range']{
  display:none;
}
input[type='range'].active{
  display:unset;
}

/*temporary as it does not work without flip

*/
button.button--size{
display:none;
}
.mirror-active button.button--size{
display:unset;
}
