.hidden{
  display: none;
}

.dialog-wrapper{
  background:rgba(155,155,155,0.8);
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.dialog-inner-wrapper{
  width:75%;
  height:auto;
  margin:auto;
  background:white;
  overflow: hidden;
  min-height:50vh;
  margin-top:20%;
  border-radius: 15px;
}
input.error{
  background:red;
}
#language-recomendation button{
  margin:0.5ch;
}
.closebutton{
  float:right;
  border:none;
  background:none;

}
canvas{
  border:1px solid;
  display:none;
}
#debug-div{
  display: none;
}
.show-debug #debug-div{
  display: block;
  border:1px solid;
  padding:1ch;
}
.show-debug #debug-div::before{
  display: block;
  content:'DEBUG:';
  border:1px solid;
  padding:1ch;
}

:disabled{
  display:none;
}
.status--pip #pipifytoggle{
  display: none;
}
.status--pip-active #startpipbutton{
  display:none;
}

#pipsection{
  display: none;
}

.status--pip #pipsection{
  display:block;
}

ul{
  list-style:none;
}

#text {
  display: none;
}
.status--passive #text  {
  display: block;
}
/*css for passive state:*/
.status--passive #outputwrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}
