.hidden{
  display: none;
}

.dialog-wrapper{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.dialog-inner-wrapper{
  box-shadow: 0 0 1000px var(--background-color);
  width:75%;
  max-width: 70ch;
  height:auto;
  margin:auto;
  background: var(--background-color);
  overflow: hidden;
  min-height:50vh;
  margin-top:20%;
  border-radius: 15px;
  border: var(--button-border-width-big) solid var(--text-color);
  padding: 0.5em;
}
input.error{
  background:red;
}

canvas{
  border:1px solid;
  display:none;
}
#debug-div{
  display: none;
}
.show-debug #debug-div{
  display: block;
  border:1px solid;
  padding:1ch;
}
.show-debug #debug-div::before{
  display: block;
  content:'DEBUG:';
  border:1px solid;
  padding:1ch;
}

:disabled{
  display:none;
}
.status--pip #pipifytoggle{
  display: none;
}
.status--pip-active #startpipbutton{
  display:none;
}

#pipsection{
  display: none;
}

.status--pip #pipsection{
  display:block;
}

ul{
  list-style:none;
}

#text {
  display: none;
}
.status--passive #text  {
  display: block;
}
/*css for passive state:*/
.status--passive #outputwrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
}
