/* * GLOBAL STYLES * */

/* FONT AND TEXT SETTINGS */
:root{
  --text-font: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --titles-font: var(--text-font);
  --code-font: "Consolas", "Roboto Mono", "Ubuntu Monospace", "Menlo", "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --base-font-size: 1.2rem;
  --font-size: 1em;
  --line-height: 1.3em;
}

/* SPACING */
:root{
  --typography-spacing: 1.5em;
  --segment-spacing: 1.5rem 0 2rem 0;
  --segment-spacing-small: 0.75rem 0 0.75rem 0;
  --form-field-space-vertical: 0.7rem;
  --form-field-space-horizontal: 0.7rem;

  --spacing-gutter: 1rem;
}

/* DIMENSION */
:root{
    --button-border-width: 0.15rem;
    --button-border-width-big: 0.2rem;
    --range-height: 0.7rem;
    --input-max-width: 30rem;
}

/* COLOR SCHEME */
  /* theme light */
:root:not([theme=dark]),
[theme=light] {
  --text-color:#313131;
  --background-color: #EBECF0;
  --shadow-color: #BABECC;
  --light-color: #ffffff;
  --mark-color: #91F5ED;
}
  /* theme dark */
@media only screen and (prefers-color-scheme:dark) {
 :root:not([theme=light]) {
   --text-color:#EBECF0;
   --background-color: #191b20;
   --shadow-color: #050505;
   --light-color: #3f3f3f;
   --mark-color: #075751;
 }
}
[theme=dark] {
  --text-color:#EBECF0;
  --background-color: #191b20;
  --shadow-color: #050505;
  --light-color: #3f3f3f;
  --mark-color: #075751;
}
  /* global colors */
:root {
  --focus-color: #00C5B5;
  --drop-shadow-outside: -5px -5px 20px var(--light-color), 5px 5px 20px var(--shadow-color);
  --drop-shadow-inside: inset 3px 3px 10px var(--shadow-color), inset -5px -5px 10px var(--light-color);
  --black-color: #030303;
}

:focus{
  outline-style: solid;
  outline-color: var(--focus-color);
  outline-width: 0.2rem;
}
::selection{
  color: var(--background-color);
  background-color: var(--text-color);
}

html{
  font-size: 1.2rem;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--text-font);
}
body{
  margin-left: auto;
  margin-right: auto;
  max-width: 60ch;
}
header,
footer,
main{
  padding-top: 4rem;
}
main{
  min-height: 55vh;
}
footer{
  padding-bottom: 1rem;
}
section{
  margin: var(--segment-spacing);
}
h2, h3, h4, h5, h6, address, blockquote, dl, figure, form, ol, p, pre, table, ul{
  margin-top: 0;
  margin-bottom: var(--typography-spacing);
}
h1{
  margin-top: 0;
  margin-bottom: 0;
  font-size: calc(var(--font-size)*2);
}
h2{
  font-size: calc(var(--font-size)*1.5);
  margin-bottom: calc(var(--typography-spacing)*0.75);
}
h3{
  font-size: calc(var(--font-size)*1.2);
  margin-bottom: calc(var(--typography-spacing)*0.5);
}
p{
    line-height: var(--line-height);
}
input, optgroup, select, textarea{
  margin: 0;
  color: var(--text-color);
  font-family: var(--code-font);
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
}
hgroup, input:not([type="checkbox"]):not([type="radio"]), select, textarea{

}
input,
select,
textarea {
 -webkit-appearance:none;
 -moz-appearance:none;
 appearance:none;
 padding:var(--form-field-space-vertical) var(--form-field-space-horizontal);
 border: 0.2em solid var(--text-color);
 border-radius: 0.1em;
 background-color: var(--background-color);
 box-shadow: var(--drop-shadow-inside);
 cursor: pointer;
}
input, select, textarea, button{
  width: 100%;
  max-width: var(--input-max-width);
  cursor: pointer;
  transition: all 0.15s ease-in;
}
input:focus::placeholder {
  color: transparent;
}
label{
  cursor: pointer;
  margin-bottom: -0.5em;
  padding: 0.5em;
  max-width: var(--input-max-width);
}
label + button, label > button{
  margin-top: 0.7em;
}
[type="button"], [type="reset"], [type="submit"], button{
  -webkit-appearance: button;
}
[type="file"]::-webkit-file-upload-button,
a[role="button"],
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{

}
fieldset{
  /* padding: 0.5rem 1rem 1.2rem 2rem;
  border: solid var(--text-color) 0.1em; */
  padding: 0;
  border: 0;
  max-width: var(--input-max-width);
}
fieldset legend, label {
    display: block;
}
button,
.button--primary{
  color: var(--background-color);
  background-color: var(--text-color);
  border: solid transparent var(--button-border-width-big);
  border-radius: 99rem;
  padding: 1.2em;
  justify-self: left;
  font-weight: bold;
  text-transform: uppercase;
  font-size: calc(0.75*var(--font-size));
  box-shadow: var(--drop-shadow-outside);
  transition: all 0.15s ease-in-out;
  margin-bottom: var(--typography-spacing);
  margin-right: 1em;
  width: auto;
}
button:hover,
button:focus,
.toggle-button--container button:hover,
.toggle-button--container button:focus,
input:not([type="range"]):hover,
input:not([type="range"]):focus,
summary:hover,
summary:focus,
.toggle-button--container button[aria-pressed="true"]{
  border-style: solid;
  border-width: var(--button-border-width-big);
  border-color: var(--focus-color);
  box-shadow: 0 0 20px var(--focus-color);
}
.toggle-button--container :not(:first-child){
  border-left: none;
}
.toggle-button--container :not(:first-child):hover{
  border-left: none;
}
.toggle-button--container :not(:first-child):focus{
  border-left: none;
}
.toggle-button--container :not(:first-child)[aria-pressed="true"]{
  border-left: none;
}
[type="range"]{
  border: none;
  box-shadow: none;
  padding: 0.5em 0;
}
[type="range"]::-webkit-slider-runnable-track{
  width: 100%;
  height: var(--range-height);
  border-radius: 99em;
  background-color: var(--text-color);
}
[type="range"]::-moz-range-track{
  width: 100%;
  height: var(--range-height);
  border-radius: 99em;
  background-color: var(--text-color);
}
[type="range"]::-ms-track{
  width: 100%;
  height: var(--range-height);
  border-radius: 99em;
  background-color: var(--text-color);
}
[type=range]::-webkit-slider-thumb{
  -webkit-appearance:none;
  width: 1.5rem;
  height: 1.5rem;
  margin-top:-0.5rem;
  border-radius: 99rem;
  border: solid var(--text-color) var(--button-border-width);
  background: var(--background-color);
  box-shadow: none;
  transition: transition: all 0.15s ease-in-out;
}
[type="range"]::-moz-range-thumb{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 99rem;
  border: solid var(--text-color) var(--button-border-width);
  background: var(--background-color);
  box-shadow: none;
  transition: transition: all 0.15s ease-in-out;
}
[type="range"]::-ms-thumb{
  -webkit-appearance:none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 99rem;
  border: solid var(--text-color) var(--button-border-width);
  background: var(--background-color);
  box-shadow: none;
  transition: transition: all 0.15s ease-in-out;
}

[type="range"]::-webkit-slider-thumb:hover{
  border-width: var(--button-border-width-big);
  border-color: var(--focus-color);
  box-shadow: 0 0 20px var(--focus-color);
}
[type="range"]::-moz-range-thumb:hover{
  border-width: var(--button-border-width-big);
  border-color: var(--focus-color);
  box-shadow: 0 0 20px var(--focus-color);
}
[type="range"]::-ms-thumb:hover{
  border-width: var(--button-border-width-big);
  border-color: var(--focus-color);
  box-shadow: 0 0 20px var(--focus-color);
}
[type="range"]::-webkit-slider-thumb:active{
  border-width: calc(1.5*var(--button-border-width-big));
  border-color: var(--focus-color);
  box-shadow: 0 0 20px var(--focus-color);
}
[type="range"]::-moz-range-thumb:active{
  border-width: calc(1.5*var(--button-border-width-big));
  border-color: var(--focus-color);
  box-shadow: 0 0 20px var(--focus-color);
}
[type="range"]::-ms-thumb:active{
  border-width: calc(1.5*var(--button-border-width-big));
  border-color: var(--focus-color);
  box-shadow: 0 0 20px var(--focus-color);
}
a{
  color: var(--text-color);
  font-weight: bold;
  text-underline-position: under;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--focus-color);
  text-decoration-thickness: var(--button-border-width);
  transition: all 0.15s ease-in-out;
}
a:hover{
  text-decoration-thickness: calc(3*var(--button-border-width));
}
mark{
  color: var(--text-color);
  background-color: var(--mark-color);
  padding: 0.2rem 0.3rem;
  border-radius: 0.1rem;
}
[type=checkbox],
[type=radio] {
 -webkit-appearance:none;
 -moz-appearance:none;
 appearance:none;
 display:inline-block;
 width:1.75rem;
 height:1.75rem;
 margin-top:-.125rem;
 margin-right:.375rem;
 border-width:var(--button-border-width);
 box-shadow: none;
 vertical-align:middle;
}
[type=radio]{
  border-radius: 99em;
}
[type="checkbox"]:checked, [type="radio"]:checked{
  background-color: var(--focus-color);
  background-image: url("img/checkbox-check.svg");
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: none;
  border-color: var(--focus-color);
}
summary{
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: var(--button-border-width-big) 0.8em;
  border: solid var(--text-color) var(--button-border-width-big);
  border-radius: 99em;
  transition: all 0.15s ease-in-out;
}
video{
  box-shadow: 0 0 20px var(--focus-color);
}
.video-active video{
  width: auto;
}


/* IDS AND CLASSES */
.center--horizontal{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.center--horizontal label{
  max-width: 100%;
}
#pxi-logo{
  width: 5rem;
  height: 3rem;
  position: absolute;
  top: 0;
  background-image: url("img/pxi-lab.svg");
  background-repeat: no-repeat;
}
.grid{
  grid-column-gap:var(--spacing-gutter);
  grid-row-gap:var(--spacing-gutter);
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  margin:0
}
.button--secondary{
  color: var(--text-color);
  background-color: var(--background-color);
  border: solid var(--focus-color) var(--button-border-width-big);
}
  /* modals */
.is-modal{
  display: none;
  padding: 1em;
  background-color: var(--background-color);
  border: var(--button-border-width-big) solid var(--text-color);
  margin: var(--typography-spacing) 0;
  box-shadow: var(--drop-shadow-outside);
}
.is-modal--cover{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  margin: 0;
}
.is-modal--cover div:first-of-type{
  max-height: 90vh;
  overflow-y: scroll;
  padding-left: 1em;
  padding-right: 2em;
  max-width: 70ch;
}
.is-modal.is-modal--active{
  display: block;
}
  /* toggle buttons */
.toggle-button--container{
  width: auto;
  height: auto;
  display: inline-block;
}
.toggle-button--container button:first-of-type{
  border-radius: 99em 0 0 99em;
}
.toggle-button--container button:last-of-type{
  border-radius: 0 99em 99em 0;
}
.toggle-button--container button{
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  background: var(--background-color);
  border: var(--button-border-width-big) solid var(--text-color);
  color: var(--text-color);
}
.toggle-button--container button[aria-pressed="true"]{
  background-color: var(--focus-color);
  color: var(--black-color);
}

.capture.button--secondary + span{
  min-width: 1.5em;
  display: inline-block;
}
.video-active .capture.button--secondary + span{
  display: none;
}


/* DARK AND LIGHT MODE */
.dark-light-toggle{
  width: 1.5em;
  position: fixed;
  left: 1em;
  top: 1em;
}
[theme="dark"] a[theme-toggle="dark"]{
  display: none;
}
[theme="dark"] a[theme-toggle="light"]{
  display: inline;
}
@media (prefers-color-scheme: dark){
  a[theme-toggle="dark"]{
    display: none;
  }
  a[theme-toggle="light"]{
    display: inline;
  }
}

[theme="light"] a[theme-toggle="light"]{
  display: none;
}
[theme="light"] a[theme-toggle="dark"]{
  display: inline;
}
@media (prefers-color-scheme: light){
  a[theme-toggle="light"]{
    display: none;
  }
  a[theme-toggle="dark"]{
    display: inline;
  }
}



/* RESPONSIVE SETTINGS */
@media only screen and (max-width: 95vh) {
  body{
    font-size: calc(0.5em + 1vh);
    margin-left: 3em;
    margin-right: 3em;
  }
  .dark-light-toggle{
    width: 1.2em;
    position: fixed;
    left: 0.5em;
    top: 0.5em;
  }
  .grid{
    grid-template-columns:1fr;
  }
}

@media only screen and (max-width: 50vh) {
  body{
    font-size: calc(0.5em + 1vh);
    margin-left: 1.5em;
    margin-right: 1em;
  }
  .dark-light-toggle{
    width: 1em;
    position: fixed;
    left: 0.2em;
    top: 0.2em;
  }
}
